<nav>
    <table>
        <tr>
            <td><a href="/">Home</a></td>
            <td><a href="blog">Blog</a></td>
            <td><a href="contact">Contact</a></td>
        </tr>
    </table>
</nav>
