body {
    background: url('images/space2.gif') repeat;
    color: #fff;
    font-family: 'Courier New', monospace;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

a {
    color: #ffcc00; /* Bright yellow color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2.4px solid #333; /* Dark gray color for table lines */
    padding: 8px;
}

/* Dark mode styles */
.dark-mode body {
    /*background: url('your-background.gif') repeat;*/
    color: #fff;
}

.dark-mode a {
    color: #ffcc00; /* Bright yellow color for links in dark mode */
}

.dark-mode a:hover {
    text-decoration: underline;
}

.dark-mode td,
.dark-mode th {
    border: 1px solid #aaa; /* Adjust the color for dark mode if needed */
}
